<mat-toolbar style="background-color:goldenrod">
    <span style="text-align: center;">Service</span>
</mat-toolbar><br><br>
<hr><br>
<h3 style="text-align: center;">We latest Service</h3><br>
<h1 style="text-align: center;">We Provide all kinds of services in form of
    Information & Technologies</h1>
<br><ul>
    <li>Coperate re-skilling</li><br>
    <li>Technical Interview</li><br>
    <li>Academic programs</li><br>
    <li>IT Consulting</li><br>
    
</ul>
<button mat-button style="background-color: yellowgreen;">Read more-></button>

