<mat-toolbar style="background-color: violet;">
<span>About us</span>
</mat-toolbar> <br><hr>
<br><br><h1>About wegrow company</h1>
<br>
<h4>"WeGrow Technology is founded by Like-Minded IT Professionals each with 15+ Years of Experience in the IT industry, Collectively 200+ Years of working experience across domains and IT technologies. WeGrow Technology is a division of "GrowLabs Technology Private Limited"</h4>
<br><br>
<h4>We have business activities across UK, Singapore, and Dubai. Our Key service portfolios are Software Application Development, IT Consulting, Professional & corporate re-skilling, and Technical Interview as a Service in various IT Platforms & Technologies</h4>
