<h1>IT Technology Solutions</h1>
<button mat-button style="background-color: yellowgreen;">Learn more</button>
<div class="example-container">
    <mat-form-field style="width: 40%;margin-left: 10%;">
      <input matInput placeholder="Enter your name">
    </mat-form-field>
    <mat-form-field style="width: 40%;margin-left: 10%;">
        <input matInput placeholder="Enter your password">
      </mat-form-field></div><br>
      <a routerLink='../Home'><button style="margin-left: 25%;" mat-raised-button>signIn</button></a>
      <a routerLink='../Contactus'><button style="margin-left: 10%;" mat-raised-button >signOut</button></a>
    
    
  
